<h1>Bienvenido a <%= @url %>, <%= @user.name %></h1>
<p> Te has registrado correctamente .Tu nombre de usuario es <%= @user.nickname %></p>
<p>para loguearte en el sitio solo sigue este link : <%= @url %></p>
<p>thnx</p>