Bienvenido a <%= @url %>, <%= @user %></h1>

 Te has registrado correctamente .Tu nombre de usuario es <%= @user.nickname %></p>
para loguearte en el sitio solo sigue este linbk : <%= @url %>
thnx

-----------------------
         firma
-----------------------